
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
}
  

li a, .dropbtn, .nav-link{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;  
  border: none;
  outline: none;
  font-family: inherit;
  margin: 0;
  display: inline-block;
  background-color: inherit;
  text-align: center;
  
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

li.dropdown {
  display: inline-block;
}


.dropdown:hover{
  display: block;
}

.midpart{
    text-align: center;
    padding-top: 3%;
}

.footer-copyright{
    position: fixed;
    left: 0;
    height: 12%;
    bottom: 0;
    width: 100%;
    background-color: darkolivegreen;
    color: white;
    text-align: center;
}

  